.main {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.signup_form {
    display: inline-grid;
    height: 510px;
    width: 600px;
    padding: 10px 71px;
    background-color: #abafaf82;
    text-align: left;
    box-shadow: 9px 11px 14px 1px #959595;
}

.signup_form label {
    font-size: large;
    margin-top: 20px;
    padding-left: 5px;
}

.signup_form input {
    border: 2px solid #c6c6d300;
    border-radius: 5px;
    padding: 0 10px;
    height: 50px;
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

input {
    border: 2px solid #c6c6d300;
    border-radius: 5px;
    padding: 0 10px;
}

input:focus {
    outline: 0;
    border-color: hsl(203, 61%, 56%);
    box-shadow: 0px 1px 10px 0px #2fb1e2;
}

label {
    font-size: larger;
}

.signupbtn {
    margin-bottom: 43px;
    margin-top: 28px;
    border: 3px solid black;
    color: rgb(3, 3, 3);
    font-size: 35px;
    font-family: ui-rounded;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 4px 9px 5px 1px #ccccca;
}

.signupbtn:hover {
    background-color: black;
    color: white;
    box-shadow: 6px 9px 9px 2px #333435;
}

.cbtn {
    height: 50px;
    font-size: 18px;
    margin-bottom: 10px;
    border: solid #1c9edc;
    border-radius: 5px;
    background-color: #ffffff94;
    font-family: auto;
    box-shadow: 4px 9px 5px 1px #ccccca;
}

.cbtn:hover {
    font-size: 20px;
    box-shadow: 6px 9px 9px 2px #898c8d;
}

@media only screen and (max-width:800px) {

    /* For tablets: */
    .signup_form,
    .signup_form input {
        width: 80%;
        padding: 0;
    }

    .signup_form,
    .signup_form input {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}